/*  =========================================================================
    foundation.generic.typography
    Describes typography
    ========================================================================= */

/* Open Sans - latin */
@font-face {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 400 700;
  src: url("/src/fonts/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTS-mu0SC55I(1).woff2") format("woff2");
}

/* Open Sans - latin - italic */
@font-face {
  font-family: Open Sans;
  font-style: italic;
  font-weight: 400 700;
  src: url("/src/fonts/memtYaGs126MiZpBA-UFUIcVXSCEkx2cmqvXlWqWuU6FxZCJgg(1).woff2") format("woff2");
}

/* montserrat-600 - latin */
@font-face {
  font-family: Insignia;
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("/src/fonts/Insignia/Insignia.woff2") format("woff2");
}
