/*  =========================================================================
    Generic.Headings
    ========================================================================= */

/*  Elements
    ========================================================================= */

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $font-family-secondary;
	line-height: 0.9;
	font-weight: bold;
	margin-bottom: $supple-space-small;

	a {
		text-decoration: none;
		color: $black;
		transition: color $base-transition-duration-short linear;

		#{$global-interaction-states} {
			color: inherit;
			text-decoration: underline;
		}
	}
}


/*  Responsive
		========================================================================= */

@include supple-mq(desk) {
	h1 {
		font-size: $alpha;
	}
}
