/*  =========================================================================
    Generic.Headings
    ========================================================================= */

@use 'src/sass/vars';
@use 'node_modules/@supple-kit/supple-css/tools/responsive';
@use 'node_modules/@supple-kit/supple-css/tools/typography';

/*  Elements
    ========================================================================= */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: vars.$font-family-secondary;
  line-height: 0.9;
  font-weight: bold;

  a {
    text-decoration: none;
    color: inherit;
    transition: color vars.$base-transition-duration-short linear;

    #{vars.$global-interaction-states} {
      color: inherit;
      text-decoration: underline;
    }
  }

  * + & {
    --flow-gap: #{vars.$space-large};
  }
}



/*  Responsive
		========================================================================= */

@include responsive.mq(desk) {
  h1 {
    @include typography.font-size(vars.$alpha);
  }
}
