/*  =========================================================================
    foundation.generic.toplevel
    Describes toplevel styles such as HTML, body, etc.
    ========================================================================= */

html {
  font-family: $font-family-primary;
  background-color: $black;
  color: $white;
  text-decoration-skip-ink: auto;
  --green: #{$green};
  --white: #{$white};
}

@media (color-gamut: p3) {
  html {
    --green: color(display-p3 0 1 0 / 1);
    --transparent-green: color(display-p3 0 1 0 / 0);
    --white: color(display-p3 1 1 1);
  }
}

body {
  margin: 0;
}

hr {
  border: 0;
  height: 1px;
  background: $gray-medium;
}

button svg {
  pointer-events: none;
}

figure {
  margin: 0;
}
