/*  =========================================================================
    foundation.generic.toplevel
    Describes toplevel styles such as HTML, body, etc.
    ========================================================================= */

@use 'node_modules/@supple-kit/supple-css/tools/responsive';
@use 'src/sass/vars';

:root {
  --color-background: #{vars.$color-black};
  --color-foreground: #{vars.$color-white};
  color-scheme: light dark; /* both supported */

  @media (prefers-color-scheme: light) {
    --color-background: #{vars.$color-white};
    --color-foreground: #{vars.$color-black};
  }
}

html {
  font-size: responsive.lock(vars.$font-size, vars.$font-size + 4px, desk, tv);
  font-family: vars.$font-family-primary;
  background-color: var(--color-background);
  color: var(--color-foreground);
  text-decoration-skip-ink: auto;

  --green: #{vars.$color-green};
  --transparent-green: #{transparentize(vars.$color-green, 1)};
  --white: #{vars.$color-white};
}

@media (color-gamut: p3) {
  html {
    //--green: color(display-p3 0 1 0 / 1);
    //--transparent-green: color(display-p3 0 1 0 / 0);
    //--white: color(display-p3 1 1 1);
  }
}

button svg {
  pointer-events: none;
}

figure {
  margin: 0;
}

img {
  width: 100%;
}
