/*  =========================================================================
    foundation.generic.typography
    Describes typography
    ========================================================================= */

/* open-sans-300 - latin */
@font-face {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    local('Open Sans Regular'),
    local('OpenSans-Regular'),
    url('/assets/fonts/open-sans-v15-latin/open-sans-v15-latin-400regular.woff2') format('woff2'),
    url('/assets/fonts/open-sans-v15-latin/open-sans-v15-latin-400regular.woff') format('woff');
}

/* open-sans-300italic - latin */
@font-face {
  font-family: Open Sans;
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src:
    local('Open Sans Italic'),
    local('OpenSans-Italic'),
    url('/assets/fonts/open-sans-v15-latin/open-sans-v15-latin-400italic.woff2') format('woff2'),
    url('/assets/fonts/open-sans-v15-latin/open-sans-v15-latin-400italic.woff') format('woff');
}

/* open-sans-700 - latin */
@font-face {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:
    local('Open Sans Bold'),
    local('OpenSans-Bold'),
    url('/assets/fonts/open-sans-v15-latin/open-sans-v15-latin-700.woff2') format('woff2'),
    url('/assets/fonts/open-sans-v15-latin/open-sans-v15-latin-700.woff') format('woff');
}

/* open-sans-700italic - latin */
@font-face {
  font-family: Open Sans;
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src:
    local('Open Sans Bold Italic'),
    local('OpenSans-BoldItalic'),
    url('/assets/fonts/open-sans-v15-latin/open-sans-v15-latin-700italic.woff2') format('woff2'),
    url('/assets/fonts/open-sans-v15-latin/open-sans-v15-latin-700italic.woff') format('woff');
}

/* montserrat-600 - latin */
@font-face {
  font-family: Insignia;
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src:
    local('Insignia'),
    url('/assets/fonts/Insignia/Insignia.woff2') format('woff2'),
    url('/assets/fonts/Insignia/Insignia.woff') format('woff');
}



/*  Responsive typography/scaling
    ========================================================================= */

:root {
  @include supple-css-lock(font-size, $supple-font-size, $supple-font-size + 8px, desk, tv);
}
