/*  =========================================================================
    foundation.generic.typography
    Describes typography
    ========================================================================= */

/* open-sans-300 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    local('Open Sans Regular'),
    local('OpenSans-Regular'),
    url('../fonts/open-sans-v15-latin/open-sans-v15-latin-400regular.woff2') format('woff2'),
    url('../fonts/open-sans-v15-latin/open-sans-v15-latin-400regular.woff') format('woff');
}

/* open-sans-300italic - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src:
    local('Open Sans Italic'),
    local('OpenSans-Italic'),
    url('../fonts/open-sans-v15-latin/open-sans-v15-latin-400italic.woff2') format('woff2'),
    url('../fonts/open-sans-v15-latin/open-sans-v15-latin-400italic.woff') format('woff');
}

/* open-sans-700 - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:
    local('Open Sans Bold'),
    local('OpenSans-Bold'),
    url('../fonts/open-sans-v15-latin/open-sans-v15-latin-700.woff2') format('woff2'),
    url('../fonts/open-sans-v15-latin/open-sans-v15-latin-700.woff') format('woff');
}

/* open-sans-700italic - latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src:
    local('Open Sans Bold Italic'),
    local('OpenSans-BoldItalic'),
    url('../fonts/open-sans-v15-latin/open-sans-v15-latin-700italic.woff2') format('woff2'),
    url('../fonts/open-sans-v15-latin/open-sans-v15-latin-700italic.woff') format('woff');
}

/* montserrat-600 - latin */
@font-face {
  font-family: 'Insignia';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src:
    local('Insignia'),
    url('../fonts/Insignia/Insignia.woff2') format('woff2'),
    url('../fonts/Insignia/Insignia.woff') format('woff');
}

/**
 * Toplevel HTML element
 * Assign our `$blocss-base-font-size` & predefine some defaults
 *
 * 1. Apply the `$blocss-base-font-size`, `$blocss-line-height-ratio`
 * 2. These values are the minimum and maximum viewport sizes to apply the font scaling
 * 3. These values represent the range of fontsize to apply. These values effect the base font-size, headings and other elements will scale proportionally
 */

$min_width: 980; /* 2 */
$max_width: 1920;

$min_font: supple-strip-units($supple-font-size); /* 3 */
$max_font: supple-strip-units($supple-font-size + 8px);

:root {
  font-size: #{($min_font/16) * 1em};

  @include supple-mq(desk) {
    font-size: #{($min_font/16) * 1em};
  }
}

@media (min-width: #{$min_width}px) and (max-width: #{$max_width}px) {
  :root {
    font-size: calc(#{$min_font}px + (#{$max_font} - #{$min_font}) * ((100vw - #{$min_width}px) / (#{$max_width} - #{$min_width})));
  }
}

@media (min-width: #{$max_width}px) {
  :root {
    font-size: #{$max_font}px;
  }
}
