/*  =========================================================================
    vars
    ========================================================================= */

@forward 'node_modules/@supple-kit/supple-css/settings/defaults' with (
  $css-modules: true,
  $line-height: 26px,
  $breakpoints: (
    lap: 580px,
    desk: 980px,
    wall: 1280px,
    tv: 1920px,
  ),
  $queries: (
    lap: lap,
    desk: desk,
  )
);

@use 'node_modules/@supple-kit/supple-css/tools/space';

$space-base: space.get('base');
$space-tiny: space.get('tiny');
$space-large: space.get('large');
$space-small: space.get('small');


/*  =========================================================================
    $CUSTOM
    ========================================================================= */

$font-family-primary: 'Open Sans', sans-serif;
$font-family-secondary: 'Insignia', sans-serif;


/*  Colors
    ========================================================================= */

// Brand
$color-green: #7dff00;
//$green: #3a8500; // AA on white bg


// Grayscale
$color-black: #000000;
$color-white: #ffffff;
$color-gray-light: #f1f1f1;
$color-gray-medium: #cccccc;
$color-gray-dark: #767676;


/*  Sizes
    ========================================================================= */

$alpha: 80px;
$beta: 34px;
$gamma: 28px;
$delta: 24px;
$epsilon: 20px;
$foxtrot: 18px;
$normalis: 16px;
$milli: 14px;
$micro: 12px;


/*  Font-weights
    ========================================================================= */

$font-weight-bold: bold;


/*  Animations
    ========================================================================= */

$base-timing-function: cubic-bezier(0.55, 0, 0.1, 1);
$base-transition-duration: 600ms;
$base-transition-duration-short: 300ms;


/*  Misc cosmetic
    ========================================================================= */

$border-radius--primary: 5px;


/*  Global hover/active etc. states
    ========================================================================= */

$global-interaction-states: '&:hover, &:active, &:focus';
