{
  "extends": "stylelint-config-supple",
  "plugins": [
    "stylelint-scss"
  ],
  "rules": {
    "selector-pseudo-class-no-unknown": [
      true,
      {
        "ignorePseudoClasses": [
          "global"
        ]
      }
    ]
  }
}
