/*  =========================================================================
    Link
    ========================================================================= */

a,
.as-link {
  outline: none;
  text-decoration: none;
  color: $green;
  transition: color $base-transition-duration-short linear;
  font-weight: bold;

  #{$global-interaction-states} {
    text-decoration: underline;
  }
}

a,
.as-link,
.as-clickable {
  cursor: pointer;
}



/*  Theming
    ========================================================================= */

.t-color--light {
  a {
    #{$global-interaction-states} {
      color: $white;
    }
  }
}

.t-color--dark {
  a {
    #{$global-interaction-states} {
      color: initial;
    }
  }
}
