---
import Main from "../layouts/Main.astro";
import ModularPageTemplate from "./_ModularPageTemplate.astro";
// import BlogPageTemplate from "./_BlogTemplate.svelte";
import BlogPageTemplate from "./_Blog.astro";

export async function getStaticPaths() {
  const pages = await Astro.glob("../../content/pages/**/*.md");

  return pages.map((page) => {
    const segments = [];
    const pathData = page.url
      .slice(1)
      .split("/")
      .map((segment) => {
        segments.push(segment);
        const segmentData = pages.find(
          (page) => page.url.slice(1) === segments.join("/")
        );
        return segmentData.frontmatter;
      });

    page.frontmatter.path = pathData;

    // strip starting slash
    let path = page.url.slice(1);
    if (path === "home") {
      path = undefined;
    }

    return {
      params: {
        path,
      },
      props: page,
    };
  });
}

const data = Astro.props.frontmatter;
data.content = await Astro.props.compiledContent();
// console.log(Astro.props);
---

<Main {...data}>
  {data.modules && <ModularPageTemplate {...data} />}
  {data.template === "blog" && <BlogPageTemplate {...data} />}
</Main>
