/*  =========================================================================
    FOUNDATION.OBJECTS.FILL-FRAME
    ========================================================================= */

.o-fill-frame {
  display: flex;
  align-items: center;
  justify-content: center;
}
