/*  =========================================================================
    foundation.objects.form
    ========================================================================= */



@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/*  Module
    ========================================================================= */

.o-form,
.o-form__field {
  @include blocss-rem(margin-bottom, $blocss-space);
}

.o-form__row {
  position: relative;
}

.o-form__wrap-c-label,
.o-form__wrap-element {
  @include blocss-rem(margin-bottom, $blocss-space-tiny);
}


.o-form__loader {
  transform-origin: center;
  animation: rotate 1s linear infinite;
}
