/*  =========================================================================
    Utilities.Text
    ========================================================================= */

.u-text-center {
  text-align: center;
}

.u-text-bold {
  font-weight: bold;
}

.u-text-italic {
  font-style: italic;
}
